.sign-up-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#sign {
    color: #a03608;
    font-weight: bold;
}

.data1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border: 1px solid #a03608;
    margin: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 400px;
    box-shadow: 0px 0px 10px 2px #a03608;
    box-sizing: border-box;
    width: 400px;
}

.form1 {
    height: 30px;
    margin: 20px;
    border: none;
    box-shadow: 0px 0px 5px 3px #a03608;
    color: #a03608;
    padding: 10px;
    width: 83%;

}

.subm1 {
    padding-bottom: 25px;
    color: white;
    background-color: #a03608;
    border: 1px solid white;
    font-weight: bold;
}