
.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #a03608;
    color: white;
    padding: 0;
    font-family: 'Sansita', sans-serif;
   height: 50px;
   width: 100%;
}

.navHead{
    display: flex;
    flex-direction: row;
}


.heading {
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 50px;
    font-weight: bold;
}

h4 {
    margin-top: 18px;
    margin-left: 20px;
}

.action {
    display: flex;
    flex-direction: row;
    margin: 14px 50px;
    font-weight: bold;
}

.log {
    margin-right: 20px;
}